@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body{
    font-family:'Roboto', sans-serif;
    background-color: #e2d7aa;
    color: #000;
    font-size: 16px;
    width: 1180px;
    margin: auto;
}

nav{
    margin: 30px;
    text-align: center;
}
li{
    display: inline-block;
    margin: 0 10px;
}
.home{
    color: #0a2d4a;
    font-weight: bold;
}
li:last-child a{
    color: #0a2d4a;
    font-weight: bold;
}
a{
    font-size: 28px;
    color: #000;
    text-decoration: none;
}

h1{
    font-size: 60px;
    text-align: center;
    margin-top: 65px;
    font-family: 'Indie Flower', cursive;
}
.img-container{
    width: 1180px;
    height: 450px;
    margin-top: 65px;
    text-align: center;
}
img {
    width: 1100px;
    height: 450px;
}

main{
    margin: auto;
    width: 1130px;
}
article{
    width: 340px;
    display: inline-block;
    vertical-align: top;
    padding-top: 30px;
    margin: 0px 15px 0px 15px;  
}
h2, h3{
    margin: 0;
    padding: 0;
    text-align: center;
}
h3 a{
    color: blue;
}
article img{
    width: 350px;
    height: 200px;
    margin-bottom: 15px;
}
article p{
    width: 347px;
    text-align: justify;
    margin-top: 0px;
}
p:first-letter{
    font-family: EucrosiaUPC, sans-serif;
    font-size: 40px;
}
span a{
    background-image: url('https://i.imgur.com/UFaQyM6.jpg');
    color: #FFFFFF;
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
}
span:first-of-type a::before {
    content: url("https://i.imgur.com/Vk4R3Ty.png");
    position: relative;
    right: 5px;
    top: 7px;
    padding: 10px;
}
.comments a{
    text-transform: uppercase;
}
.readmore a{
    text-transform: uppercase;
}
footer{
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
